* {
    margin: 0;
    padding: 0;
    background-color: transparent;
    border: none;
    list-style: none;
    box-sizing: border-box;
    outline: none;
    text-decoration: none;
    transition: .35s ease;
}
button:hover{
    cursor: pointer;
}
body,.background div,.overlay{
    width: 100vw;
    height: 100vh;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
}
.background,.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: cover;
}
.background{
    transition: 1s ease;
}
.overlay{
    background-image: url(overlay.png);
    z-index: 10;
}
.info{
    position: relative;
    z-index: 100;
    text-align: center;
}
body,button{
    color: #fff;
    font-family: Arial;
    font-size: 14px;
}


.time{
    font-size: 80px;
}
.date{
    font-size: 25px;
    margin-bottom: 50px;
}


.name{
    font-size: 20px;
    margin-bottom: 20px;
}
.name span{
    display: inline-block;
    vertical-align: middle;
}
.name span:last-child{
    margin-left: -5px;
}
#name{
    min-width: 20px;
}
#name:focus{
    border: 1px solid #fff;
    padding: 0 5px;
}


.target{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}
.target button{
    font-size: 14px;
}
#add{
    order:999;
}
.task-row{
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}
.task-row div{
    min-width: 100px;
    margin-right: 10px;
    margin-bottom: 3px;
}
.task-row button{
    display: block;
    width: 15px;
    height: 15px;
    border: 1px solid #fff;
    border-radius: 3px;
}


#bgcList{
    color: #fff;
    font-size: 14px;
}


.right-top{
    position: fixed;
    top: 10px;
    right: 10px;
    z-index: 10;
}

.add-hidden{
    opacity: 0;
    visibility: hidden;
}

@media screen and (min-width: 768px) {
    .time{
        font-size: 150px;
    }
    .date{
        font-size: 50px;
    }
    .name{
        font-size: 30px;
    }
    .target button,#bgcList{
        font-size: 18px;
    }
}

@media screen and (min-width: 1200px){
    .name{
        margin-top: 50px;
    }
    .name span:nth-child(2):hover{
        cursor: pointer;
        text-decoration: underline;
    }
    .name span:last-child{
        margin-left: -8px;
    }
    .target{
        margin-top: 50px;
    }
    #bgcList,.target>button{
        padding: 5px 20px;
        border-radius: 20px;
    }
    #bgcList:hover,.target>button:hover{
        background-color: rgba(255,255,255,.5);
    }
}